<div class="card border-secondary mb-3">
    <div class="card-header">Create new container</div>
    <div class="card-body">
        <table>
            <tr>
                <td>
                    <label>Container name:</label>
                </td>
                <td>
                    <input name="cName" [(ngModel)]="newContainer.name">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Image name:</label>
                </td>
                <td>
                    <select name="iName" [(ngModel)]="newContainer.image">
                        <option disabled>Select image</option>
                        <option *ngFor="let image of images">
                            {{image.RepoTags}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Host port:</label>
                </td>
                <td>              
                    <input name="hPort" [(ngModel)]="newContainer.hostPort">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Container port:</label>
                </td>                
                <td>
                    <input name="cPort" [(ngModel)]="newContainer.containerPort">
                </td>
            </tr>
        </table>
        <p class="card-text">
            <button type="button" class="btn btn-success" (click)="createContainer()">Create</button>
        </p>
    </div>
</div>
<table class="table">
    <thead>
        <th scope="col">Container name</th>
        <th scope="col">Image name</th>
        <th scope="col">Ports</th>
        <th scope="col">State</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let container of containers">
            <td>{{container.Names}}</td>
            <td>{{container.Image}}</td>
            <td>
                <ul>
                    <li *ngFor="let port of container.Ports">
                        {{port.PublicPort}}:{{port.PrivatePort}}
                    </li>
                </ul>
            </td>
            <td>{{container.State}}</td>
            <td>{{container.Status}}</td>
            <td>                                
                <button type="button" class="btn btn-success" [hidden]="container.State == 'running'" (click)="startContainer(container.Id)">Start</button>
                <button type="button" class="btn btn-warning" [hidden]="container.State != 'running'" (click)="stopContainer(container.Id)">Stop</button>
                <button type="button" class="btn btn-danger" [hidden]="container.State == 'running'" (click)="deleteContainer(container.Id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>